In [1]:
import pandas as pd

In [2]:
df_raw = pd.read_csv('data/State_of_data_2022.csv')

In [5]:
colunas_raw = pd.DataFrame({'colunas': df_raw.columns})

In [6]:
colunas = (
    colunas_raw
    .assign(colunas = lambda dff: dff['colunas'].str.replace("(?<=\w)\'(?=\w)", '', regex = True))
)

In [24]:
codigo = []
nome = []
dicionario = {}
for tupla in colunas['colunas']:
    codigo_temp, nome_temp = eval(tupla)
    codigo.append(codigo_temp.strip())
    nome.append(nome_temp)
    dicionario[codigo_temp.strip()] = nome_temp

In [25]:
df_raw.columns = codigo

In [30]:
(
    df_raw
    .loc[:, ['P1_c', 'P1_d']]
)

        P1_c P1_d
0      Parda  Não
1      Parda  Não
2     Branca  Não
3     Branca  Não
4     Branca  Não
...      ...  ...
4266  Branca  Não
4267  Branca  Não
4268  Branca  Não
4269  Branca  Não
4270  Branca  Não

[4271 rows x 2 columns]

In [32]:
df_raw['P1_c'].value_counts()

Branca                  2744
Parda                   1054
Preta                    291
Amarela                  128
Prefiro não informar      26
Outra                     17
Indígena                  11
Name: P1_c, dtype: int64

In [33]:
df_raw['P1_d'].value_counts()

Não                     4198
Sim                       54
Prefiro não informar      19
Name: P1_d, dtype: int64